<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", users_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "")  %> Listing Users</h2>
    <div class="inner">


<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table class="table">
  <tr>
    <th class="first">Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= user.name %></td>
    
    <td class="last"><%= link_to 'Show', user %> |
    <%= link_to 'Edit', edit_user_path(user) %> |
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>


<br />

<% content_for :sidebar, render(:partial => 'sidebar') -%>
